# {{ ansible_managed }}

root={{ ssmtp_root }}
mailhub={{ ssmtp_mailhub }}:{{ ssmtp_mail_port }}

AuthUser={{ ssmtp_auth_user }}
AuthPass={{ ssmtp_auth_pass }}
AuthMethod={{ ssmtp_auth_method }}

UseTLS={{ 'YES' if ssmtp_auth else 'NO' }}
UseSTARTTLS={{ 'YES' if ssmtp_auth else 'NO' }}

RewriteDomain={{ ssmtp_rewrite_domain }}
Hostname={{ ssmtp_hostname }}
FromLineOverride={{ ssmtp_fromline }}