{{ ansible_managed }}

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  # reload.period: 10s

# Load all inputs in conf.d that ends with ".yml"
# Prospectors have been renamed to inputs
filebeat.config.inputs:
  enabled: true
  path: conf.d/*.yml

output.logstash:
  hosts: {{ logstash_host }}
  ssl.certificate_authorities: {{ ssl_ca_filebeat }}
  ssl.certificate: {{ ssl_certificate_filebeat }}
  ssl.key: {{ ssl_key_filebeat }}

logging.level: info
logging.files.rotateeverybytes: 10485760