{{ ansible_managed }}

winlogbeat.registry_file: {{ winlogbeat_registry_file }}

winlogbeat.event_logs:
  - name: Application
    ignore_older: 72h
  - name: Security
  - name: System

output.logstash:
  hosts: {{ logstash_host }}
  index: winlogbeat
  ssl.certificate_authorities: {{ ssl_ca_winlogbeat }}
  ssl.certificate: {{ ssl_certificate_winlogbeat }}
  ssl.key: {{ ssl_key_winlogbeat }}

logging.to_files: true
logging.files:
  path: {{ winlogbeat_log_dir }}
  name: winlogbeat
  rotateeverybytes: 10485760 # = 10MB
  keepfiles: 7

