Check if server need reboot
Today's date: {{ '%Y-%m-%d' | strftime }}
{% for i in play_hosts | sort %}
{{ i }}: {{ hostvars[i]['restart_ubuntu']['stat']['exists'] |
ternary('Yes', 'No') }}
{% endfor %}
